* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa;
}

/*хедер*/
header {
    background-color: rgba(21, 84, 70, 60%);
    color: white;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}

header a:hover {
    background-color: #495057;
}

header div {
    display: flex;
    align-items: center;
    gap: 20px;
}

header p {
    margin: 0;
    font-weight: bold;
}

/*основной контекст*/
main {
    max-width: 960px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

/*заголовки*/
h1 {
    margin-bottom: 20px;
    color: #343a40;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

/*формы*/
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 24px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form label {
    font-weight: bold;
    color: #2c3e50;
}

form input[type="text"], form input[type="password"],
form input[type="email"] {
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 16px;
}

form input[type="checkbox"] {
    width: auto;
    height: auto;
    margin-top: 4px;
}

form button {
    background-color: #5C8189;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-start;
}

form button:hover {
    background-color: #155446;
}

/*ссылки внутри форм*/
form p a {
    color: #007bff;
    text-decoration: none;
}

form p a:hover {
    text-decoration: underline;
}

/*контейнер checkbox и label*/

.checkbox-label input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #5C8189;
    cursor: pointer;
    margin: 0;
}

/*сообщения об ошибках*/
.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #f5c6cb;
    margin-bottom: 20px;
    font-weight: 500;
}

.error p {
    margin: 4px 0;
}

/*для стр с авторизацией*/
p {
    margin-top: 16px;
}