{% extends 'catalog/base_template.html' %}
{% block title %} Вход {% endblock %}
{% block content %}

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}

        <div>
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Войти</button>
    </form>

    <p><a href="{% url 'register' %}">Нет аккаунта? Зарегистрируйтесь</a></p>
{% endblock %}