{% extends 'catalog/base_template.html' %}
{% block title %} Ваши заявки {% endblock %}
{% block content %}
    {% if request_list %}
    <ul style="list-style-type: none">
        {% for request in request_list %}
                <li style="border-width: 1px; border-color: black; border-style: solid; margin-bottom: 20px; display: flex; align-items: center; column-gap: 100px">
                    <div style="margin-left: 50px">
                        <p>Название: {{ request.title }}</p>
                        <p>Описание: {{ request.description }}</p>
                        <img src="{{ request.image.url }}" alt="Изображение дизайна" style="height: 200px; width: 200px" >
                        <p>Категория: {{ request.category }}</p>
                        <p>Статус: {{ request.status }}</p>
                        <div>
                            {% if request.status.name == "New" %}
                                <a href="{% url 'delete' request.pk %}" onclick="return confirm('Вы уверены, что хотите удалить эту заявку?')">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                    <div style="align-items: center">
                        {% if request.status.name == "Done" or request.status.name == "In_work" %}
                            {% if request.completed_image %}
                                <p>Готовый дизайн:</p>
                                <img src="{{ request.completed_image.url }}" alt="Изображение готового дизайна" style="height: 200px; width: 200px" >
                            {% endif %}
                            <p>{{ request.worker_comment }}</p>
                        {% endif %}
                    </div>
                </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>
            У вас нет заявок!
        </p>
    {% endif %}
{% endblock %}